= form_for @user do |f|
  - if @user.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  - no_login = !@user.login || @user.login.empty?
  - is_admin = @current_user.permissions.map(&:name).include? 'admin'
  - can_provision = is_admin || @current_user.permissions.map(&:name).include?('provision')
  %table
    %tbody
      %tr
        %td= f.label 'Name'
        %td= @user.name
      %tr
        %td= '&nbsp;'.html_safe
        %td= ''
      %tr
        %td= f.label "Access"
        %td
          - if can_provision
            = f.collection_check_boxes :machine_ids, Machine.all, :id, :name do |b|
              .collection-check-box
                = b.check_box
                = b.label
          - else
            = @user.machines.map(&:name).sort.join(", ")
      %tr
        %td= '&nbsp;'.html_safe
        %td= ''
      %tr
        %td
          =f.label "Permissions"
          &nbsp;&nbsp;&nbsp;
        %td
          - if is_admin
            = f.collection_check_boxes :permission_ids, Permission.all, :id, :name, :disabled => []  do |b|
              .collection-check-box
                = b.check_box
                = b.label
          - else
            = @user.permissions.map(&:name).sort.join(", ")
  %p
  = f.submit
