= form_for @user do |f|
  - if @user.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  - no_login = !@user.login || @user.login.empty?
  %table
    %tbody
      %tr
        %td= f.label 'Name'
        %td= @user.name
      %tr
        %td= f.label "Access"
        %td
          = f.collection_check_boxes :machine_ids, Machine.all, :id, :name do |b|
            .collection-check-box
              = b.check_box
              = b.label
      %tr
        %td= f.label :can_login
        %td= check_box "user", "can_login", {:checked => :can_login, :disabled => no_login }
      %tr
        %td= f.label :can_provision
        %td= check_box "user", "can_provision", {:checked => :can_provision, :disabled => no_login }
      %tr
        %td= f.label :can_deprovision
        %td= check_box "user", "can_deprovision", {:checked => :can_deprovision, :disabled => no_login }

  %p
  = f.submit
