- unless smart_listing.empty?
  %table.table.table-striped
    %thead
      %th= smart_listing.sortable "ID", :fl_id
      %th= smart_listing.sortable "Name", :name
      %th= "Card"
      %th= "Access"
      %th= "Login"
      %th= "Provision"
      %th= "Deprovision"
      %th= ""
    %tbody
      - smart_listing.collection.each do |user|
        %tr
        %td= user.fl_id
        %td= user.name
        %td= user.card_id
        %td= user.machines.map(&:name).sort.join(", ")
        %td= check_box_tag :can_login, "1", user.can_login, disabled: true
        %td= check_box_tag :can_provision, "1", user.can_provision, disabled: true
        %td= check_box_tag :can_deprovision, "1", user.can_deprovision, disabled: true
        %td= link_to 'Edit', edit_user_path(user)
  = smart_listing.paginate
- else
  %p.warning No records!
