= form_for @machine do |f|
  - if @machine.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@machine.errors.count, "error")
        prohibited this machine from being saved:
      %ul  
        - @machine.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.submit
